/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

  /* =============================================================================
   LAYOUT
   ========================================================================== */


  header #logo {
    float: left;
  }

  nav#auxiliary ul,
  nav#auxiliary form,
  nav#auxiliary .tx-solr,
  header nav#primary ul {
    float: right;

  }

  nav#auxiliary .tx-solr,

  header #logo, header nav {
    margin: 0;
  }

  #auxiliary {
    display: inline-block;
    width: 100%;
  }


}

/*@media only screen and (min-width: 768px) {*/


/*}*/

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
  /* =============================================================================
   LAYOUT
   ========================================================================== */

  #container {
    padding: 15px;
    width: 985px;
    margin: 0 auto;
  }

  .two-col {
    &.article-header {
      margin-top: 0;
    }
    margin-top: 15px;
    .col {
      width: auto;
      float: left;
    }
    .col-left {
      width: 72.25%
    }
    .col-right {
      width: 25.75%;
      float: right;
      margin-left: 1.5%;
      .block {
        margin: 15px 0;
      }
    }
  }

  .two-col.half {
    .col {
      width: auto;
      float: left;
    }
    .col-left {
      width: 49%
    }
    .col-right {
      width: 49%;
      float: right;
      margin-left: 1%;
    }
  }

  /* =============================================================================
   MODULES
   ========================================================================== */


  .archive-teaser.expanded {
    h3 {
      padding-top: 0;
    }
    .info {
      float: right;
      width: 45%;
    }
  }

  nav.articles {
    margin-bottom: 35px;
    margin-top: 15px;
    .control {
      font-family: $letter-gothic-stack;
      font-size: 5em;
    }
    .close {
      float:left;
    }
    .left,.right {
      float: left;
    }
  }



  /* =============================================================================
  THEME
  ========================================================================== */
  header {
    #logo {
      font-size: 28px;
      margin-top: 36px;
    }
    ul {
      font-size: 16px;
    }
  }
}
