/* =============================================================================
 VARIABLES
 ========================================================================== */

// Colors
// --------------------------------------------------------
$background: #EFEEEE;

// Typography
// --------------------------------------------------------
$letter-gothic-stack: letter-gothic-std;
$garamond-stack: adobe-garamond-pro;

// Measurements
// --------------------------------------------------------
// $containerWidth: ∞;

// Responsive breakpoints
// https://en.wikipedia.org/wiki/List_of_lakes_by_area
// --------------------------------------------------------
// $superior: ;
// $victoria: ;
// $huron: ;
// $michigan: ;
// $baikal: ;
// $malawi: ;
// $erie: ;
// $winnipeg: ;
// $ontario: ;
// $balkhash: ;
// $ladoga: ;
// $vostok: ;
// $onega: ;