/* =============================================================================
 VARIABLES
 ========================================================================== */

// Colors
// --------------------------------------------------------
$background: #efeeee;
$brown: #3c2415;
$grayDark: #333;

// Typography
// --------------------------------------------------------
$letter-gothic-stack: letter-gothic-std;
$garamond-stack: adobe-garamond-pro;

// Measurements
// --------------------------------------------------------
$containerWidth: 985px;
$contentWidth: 712px;
$navWidth: 240px;

$duration: 0.2s;

// Responsive breakpoints
// https://en.wikipedia.org/wiki/List_of_lakes_by_area
// --------------------------------------------------------
// $superior: ;
// $victoria: ;
// $huron: ;
// $michigan: ;
// $baikal: ;
// $malawi: ;
// $erie: ;
// $winnipeg: ;
$ontario: 780px;
// $balkhash: 732px;
$ladoga: 620px;
// $vostok: ;
// $onega: ;
